:root {
  --color-primary: #212121;
  --color-secondary: #fff;
  --color-main-text: #757575;
  --color-logo: #2196f3;
  --color-logo-header: #000;
  --color-background: #2f303a;
  --color-background-secondary: #f5f4fa;
  --color-icon-link: #afb1b8;
 
  --prime-font-family: 'Roboto', sens-serif;
  --secondary-font-family: 'Raleway';

  --color-bg-project: #eee;
  --main-font-size: 14px;

  --project-cart-gap: 30px;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}